<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
        <title>University - {% block title %}{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
<body>
    <header>
    <h1><a href="/">University Portal</a></h2>
    </header>
    <hr>
    <nav>
    <div class="row">
    <div class="col-md-6 left">    
    |
    <a href="/subjects">Schedule</a>
    |
    <a href="/teachers">Teachers</a>
    |</div>
    <div class="col-md-6 right">
    |
    <a href="/about">About Uni</a>
    |
    <a href="/contacts">Contacts</a>
    |
    </div>
    </div>
    </nav>
    <hr>
    <main>
    {% block content %}{% endblock %}
    </main>
    <hr>
    <footer>
        <h6>Copyrigth: Universuty - Kyiv, 2021</h6>
    </footer>
</body>
</head>